body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.banniereProfile {
    width: 100%;
}

.banniereProfile img {
    width: 120%;
    margin-left: -5%;
    margin-top: -3%;
}

.profilePicture {
    border: solid 1px white;
    width: 30%;
    height: 7em;
    border-radius: 80%;
    background-image: url("../../../assets/img/babyReading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -17%;
}

.userIdentity p {
    text-align: center;
}

.myBooks img, .toReadList img, .myFavorites img {
    width: 19%;
    margin-right: 2%;
}

.myBooks .firstIMG, .toReadList .firstIMG, .myFavorites .firstIMG {
    margin-left: -8.5%;
}
.myBooks, .toReadList, .myFavorites {
    margin-left: 5%;
    width: 100%;
    display: flex;
}
h3 {
    text-align: center;
}