<body>
    <div class="banniereProfile">
        <img class="banniereImg" src="../../../assets/img/banniereLivre.webp">
    </div>
    <div class="profilePicture">
    </div>
    <div class="userIdentity">
        <p>Pseudo<br>
        adresse@mail.com</p>
    </div>
    <div>
        <h3>My Books</h3>
        <div class="myBooks">
            <img class="firstIMG" src="../../../assets/img/HP1.jpg">
            <img src="../../../assets/img/lovecraft1.jpg">
            <img src="../../../assets/img/ewilan1.jpg">
            <img src="../../../assets/img/oraison.jpg">
            <img src="../../../assets/img/robotaube.jpg">
        </div>
    </div>
    <div>
        <h3>To Read List</h3>
        <div class="toReadList">
            <img class="firstIMG" src="../../../assets/img/hp2.jpg">
            <img src="../../../assets/img/souvenirsperdus.jpg">
            <img src="../../../assets/img/epouvanteur.jpg">
            <img src="../../../assets/img/mob5.jpg">
            <img src="../../../assets/img/eden1.jpg">
        </div>
    </div>
    <div>
        <h3>My Favorites</h3>
        <div class="myFavorites">
            <img class="firstIMG" src="../../../assets/img/robotquirevait.jpg" >
            <img src="../../../assets/img/xxxholic.jpg">
            <img src="../../../assets/img/autremonde.jpg">
            <img src="../../../assets/img/monster.jpg">
            <img src="../../../assets/img/montagnehallucinees.jpg">
        </div>
    </div>
   
</body>