<body>   
    <div class="bgMainPage">
        <a routerLink="/"><img class="backArrow" src="../../../assets/img/backArrow.png"></a>
        <div class="titleMainPage">
            <h2>Préparez vous à construire votre propre<br>
            bibliothèque virtuelle.</h2>
        </div>
        <div class="inputSubscription">
            <label>Pseudo :</label>
            <input placeholder="Votre pseudo" class="registerInput" type="text">
            <label>Adresse e-mail :</label>
            <input placeholder="Votre adresse e-mail" class="registerInput" type="mail">
            <label>Mot de passe :</label>
            <input placeholder="Votre mot de passe" class="registerInput" type="text">
            <label>Confirmation de mot de passe :</label>
            <input placeholder="Confirmer votre mot de passe" class="registerInput" type="text">
        </div>
        <div class="bottomMainPage">
            <a routerLink="/profile"><button class="subscription">Inscription</button></a>
        </div>
    </div>
</body> 