<body>
<div class="searchBar">
    <input type="search" placeholder="Rechercher">
</div>

    <div>
        <h3>Meilleurs livres pour vous</h3>
        <div class="bestbooks">
            <img class="firstIMG" src="../../../assets/img/HP1.jpg">
            <img src="../../../assets/img/lovecraft1.jpg">
            <img src="../../../assets/img/ewilan1.jpg">
        </div>
    </div>

    <div>
        <h3>Livres tendance</h3>
        <div class="noveltendance">
            <img class="firstIMG" src="../../../assets/img/hp2.jpg">
            <img src="../../../assets/img/souvenirsperdus.jpg">
            <img src="../../../assets/img/epouvanteur.jpg">
        </div>
    </div>

    <div>
        <h3>Manga tendance</h3>
        <div class="mangatendance">
            <img class="firstIMG" src="../../../assets/img/robotquirevait.jpg" >
            <img src="../../../assets/img/xxxholic.jpg">
            <img src="../../../assets/img/autremonde.jpg">
        </div>
    </div>

   <app-navigation-bar></app-navigation-bar>
</body>