<body>
    <div class="bgMainPage">
        <a routerLink="/"><img class="backArrow" src="../../../assets/img/backArrow.png"></a>
        <div class="titleMainPage">
            <h2>Heureux de vous revoir !<br>
            vous nous aviez manqué.</h2>
        </div>
        <div class="inputConnexion">
            <label>Adresse e-mail :</label>
            <input placeholder="Votre adresse e-mail" class="connexionInput" type="mail">
            <label>Mot de passe :</label>
            <input placeholder="Votre mot de passe" class="connexionInput" type="text">
        </div>
        <div class="bottomMainPage">
            <a routerLink="/profile"><button class="connexion">Connexion</button></a>
        </div>
    </div>
</body>