<body>  
   <div class="navigationBookmarks">
        <a routerLink="/bookmarks"><h3>À LIRE</h3></a>
        <a routerLink="/forthcoming"><h3>À PARAITRE</h3></a>
    </div>
    <div class="histo">
        <h4>HISTORIQUE DE LECTURE</h4>
        <div class="bookReadDisplay">
            <img src="../../../assets/img/ewilan1.jpg">
            <div class="bookInfosDisplay">
                <p>D'un Monde à l'Autre</p>
                <p>La Quête d'Ewilan - Tome 1</p>
                <p>Pierre Bottero</p>
            </div>
        </div>
        <div class="bookReadDisplay">
            <img src="../../../assets/img/lovecraft1.jpg">
            <div class="bookInfosDisplay">
                <p>Great Tales of Horror</p>
                <p>H.P. Lovecraft</p>
            </div>
        </div>
        <div class="bookReadDisplay">
            <img src="../../../assets/img/HP1.jpg">
            <div class="bookInfosDisplay">
                <p>D'un Monde à l'Autre</p>
                <p>La Quête d'Ewilan - Tome 1</p>
                <p>Pierre Bottero</p>
            </div>
        </div>
    </div>
    <div id="landingToRead" class="toread">
        <h4>À LIRE</h4>
        <div class="bookDisplay">
            <img src="../../../assets/img/hp2.jpg">
            <div class="bookInfosDisplay">
                <p>Harry Potter et la Chambre des Secrets</p>
                <p>Harry Potter - Tome 2</p>
                <p>J.K. Rowling</p>
            </div>
        </div>
        <div class="bookDisplay">
            <img src="../../../assets/img/souvenirsperdus.jpg">
            <div class="bookInfosDisplay">
                <p>Étrangère</p>
                <p>Souvenirs Perdus - Tome 1</p>
                <p>Samantha Bailly</p>
            </div>
        </div>
        <div class="bookDisplay">
            <img src="../../../assets/img/epouvanteur.jpg">
            <div class="bookInfosDisplay">
                <p>L'apprenti Éouvanteur</p>
                <p>L'Épouvanteur - Tome 1</p>
                <p>Joseph Delaney</p>
            </div>
        </div>
        <div class="bookDisplay">
            <img src="../../../assets/img/mob5.jpg">
            <div class="bookInfosDisplay">
                <p>Mob Psycho 100</p>
                <p>Tome 5</p>
                <p>ONE</p>
            </div>
        </div>
        <div class="bookDisplay">
            <img src="../../../assets/img/eden1.jpg">
            <div class="bookInfosDisplay">
                <p>Cage of Eden (Eden no Ori)</p>
                <p>Tome 1</p>
                <p>Yoshinobu Yamada</p>
            </div>
        </div>
    </div>
</body> 
<app-navigation-bar></app-navigation-bar>
